/* You can add global styles to this file, and also import other style files */
h1, a {
    color: forestgreen;
}

table {
    width: 35%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
